*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:hsl(204, 43%, 93%);
}

.card{
    height:550px;
    max-width:750px;
    display:flex;
    flex-direction: column;

}

.top_content{
    height:50%;
    background-color: rgb(255, 255, 255);
    border-radius:10px;
}

.bottom_content{
    height:50%;
    display:flex;

}

.left_content{
    width:50%;
    background-color: hsl(179, 62%, 43%);
}

.right_content{
    width:50%;
    background-color: hsl(179, 51%, 62%);
}

.right_content ul{
    list-style-type: none;
}